@color-silove-lekce: #00eeb0;
@color-body: #ddde3a;
@color-cycling: #5ffa00;
@color-bazen: #1fd2fd;
@color-tance: #e753a7;
@color-akce: #b77bff;
@fontsPath: '';
@imagesPath: '../images/';

@font-face {
    font-family: 'Myriad';
    src: url('@{fontsPath}MyriadPro-Regular.woff2') format('woff2'),
    url('@{fontsPath}MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadLight';
    src: url('@{fontsPath}MyriadPro-Light.woff2') format('woff2'),
    url('@{fontsPath}MyriadPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadSemibold';
    src: url('@{fontsPath}MyriadPro-Semibold.woff2') format('woff2'),
    url('@{fontsPath}MyriadPro-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

body,h1,h2,h3,h4,h5,h6,p,ul,li,ol,hr,form,menu,header,footer {
    padding: 0;
    margin: 0;
    border: none;
    font-weight: normal;
}
body {
    background: #3e3e3e;
    font-family: 'Myriad', sans-serif;
    font-size: 14px;
    color: #ffffff;
    line-height: 1.4em;
    font-weight: 400;
    overflow: hidden;
}
header {
    height: 133px;
    position: relative;

    .time {
        font-size: 90px;
        position: absolute;
        right: 100px;
        top: 20px;
        line-height: 1em;
    }

    .animation {
        background: #ddde3a;
        height: 8px;
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        transition: all 0s linear;

        &.animation-start {
            width: 100%;
            transition: all 5s linear;
        }
    }
}
.main {
    display: flex;
    height: 2027px;
}
.left {
    flex: 0 0 1152px;

    .ad {
        background-size: cover;
        height: 540px;
        position: relative;

        &.ad1 {
            height: 947px;
        }

        &:before {
            position: absolute;
            left: 0;
            bottom: -1px;
            right: 0;
            top: 0;
            display: block;
            content: "";
            background: url('@{imagesPath}stin_akce.png') left bottom repeat-x;
        }

        .date {
            font-family: Oswald, sans-serif;
            font-size: 40px;
            font-weight: 500;
            background: #2d2d2d;
            line-height: 1em;
            padding: 41px 0;
            position: absolute;
            left: 0;
            top: 0;
            width: 154px;
            text-align: center;
        }
        .text {
            position: absolute;
            bottom: 72px;
            left: 20px;
            right: 20px;
            text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.69);
        }
        h2 {
            font-size: 52px;
            font-family: Oswald, sans-serif;
            font-weight: 500;
            line-height: 1.15em;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        p {
            font-size: 34px;
            font-family: Oswald, sans-serif;
            font-weight: 500;
            line-height: 1.2em;
            text-align: center;
        }

    }
}
.right {
    flex: 0 0 2688px;
    position: relative;

    .right-header {
        height: 132px;
        border-bottom: solid 4px #575859;
        display: flex;

        .day {
            background: #2d2d2d;
            flex: 0 0 384px;
            justify-content: center;
            align-items: center;
            display: flex;
            flex-direction: column;
            text-transform: uppercase;

            &:nth-child(2n){
                background: #1f1f1f;
            }

            .name {
                font-size: 40px;
                line-height: 1.2em;
            }
            .date {
                font-size: 32px;
                font-family: MyriadLight, sans-serif;
                line-height: 1em;
            }

            &.day-current {
                background: #ddde3a;
                color: #000000;
            }
        }
    }

    .right-footer {
        height: 120px;
        border-top: solid 1px #575859;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        background: #3e3e3e;
        transition: all .3s linear;

        .types {
            flex: 0 0 1536px;
            display: flex;

            .type {
                flex: 1 1 auto;
                text-align: center;
                text-transform: uppercase;
                font-size: 26px;
                font-family: Poppins, sans-serif;
                line-height: 120px;
                border-right: solid 1px #575859;

                &.type-silove-lekce {color: @color-silove-lekce}
                &.type-body-mind {color: @color-body}
                &.type-cycling {color: @color-cycling}
                &.type-bazen {color: @color-bazen}
                &.type-tance {color: @color-tance}
                &.type-akce {color: @color-akce}
            }
        }

        .levels {
            flex: 1 1 auto;
            display: flex;

            .level {
                flex: 0 0 33.33%;
                text-align: center;
                text-transform: uppercase;
                font-size: 26px;
                font-family: Poppins, sans-serif;
                line-height: 120px;
                border-right: solid 1px #575859;

                &:last-child {
                    border-right: none;
                }

                &:before {
                    display: inline-block;
                    background: url('@{imagesPath}obtiznost_legenda.svg');
                    height: 23px;
                    width: 25px;
                    margin-right: 10px;
                    content: "";
                }

                &.level-2:before {
                    width: 50px;
                }
                &.level-3:before {
                    width: 75px;
                }
            }
        }
    }

    .right-center {
        position: absolute;
        top: 136px;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden;

        .container {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 120px;
            transition: all 1s linear;
            max-height: 2040px;
        }


        .row {
            display: flex;
            border-bottom: solid 4px #575859;

            .day {
                flex: 0 0 384px;
                height: 251px;
                background: #2d2d2d;
                position: relative;
                display: flex;

                &:nth-child(2n){
                    background: #1f1f1f;
                }

                &.day-level-1:before,
                &.day-level-2:before,
                &.day-level-3:before {
                    position: absolute;
                    bottom: 30px;
                    left: 30px;
                    height: 23px;
                    width: 25px;
                    content: "";
                    display: block;
                }
                &.day-level-2:before {width: 50px;}
                &.day-level-3:before {width: 75px;}

                &.day-type-silove-lekce {color: @color-silove-lekce; &:before{background-image: url('@{imagesPath}obtiznost_silove.svg')}}
                &.day-type-body-mind {color: @color-body; &:before{background-image: url('@{imagesPath}obtiznost_body.svg')}}
                &.day-type-cycling {color: @color-cycling; &:before{background-image: url('@{imagesPath}obtiznost_cycling.svg')}}
                &.day-type-bazen {color: @color-bazen; &:before{background-image: url('@{imagesPath}obtiznost_bazen.svg')}}
                &.day-type-tance {color: @color-tance; &:before{background-image: url('@{imagesPath}obtiznost_tanec.svg')}}
                &.day-type-akce {color: @color-akce; &:before{background-image: url('@{imagesPath}obtiznost_akce.svg')}}
                &.day-type-unknown { &:before{background-image: url('@{imagesPath}obtiznost-canceled.svg')}}

                &.day-higlight {
                    background: #243458;
                }

                &.day-canceled {
                    background: #5c5b5b;
                    color: #ffffff;

                    &:before{
                        background-image: url('@{imagesPath}obtiznost-canceled.svg')
                    }
                }

                &.day-stand-in {
                    .person {
                        color: #ffffff;

                        strong {
                            font-family: Myriad, sans-serif;
                            font-weight: 400;
                        }
                    }
                }

                .time {
                    font-size: 30px;
                    left: 30px;
                    top: 40px;
                    line-height: 1em;
                    font-family: MyriadSemibold, sans-serif;
                    font-weight: 600;
                    position: absolute;
                }
                .location {
                    font-size: 30px;
                    right: 30px;
                    top: 40px;
                    line-height: 1em;
                    font-family: MyriadLight, sans-serif;
                    font-weight: 300;
                    position: absolute;
                }
                .title {
                    padding:0 0 10px;
                    line-height: 1.2em;
                    text-transform: uppercase;
                    font-size: 30px;
                    display: block;
                }
                .person {
                    display: block;
                    line-height: 1em;
                    font-family: MyriadLight, sans-serif;
                    font-weight: 300;
                    font-size: 28px;
                }
                .center {
                    margin: auto 30px;
                }
            }
        }
    }
}
