@font-face {
  font-family: 'Myriad';
  src: url('MyriadPro-Regular.woff2') format('woff2'), url('MyriadPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadLight';
  src: url('MyriadPro-Light.woff2') format('woff2'), url('MyriadPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'MyriadSemibold';
  src: url('MyriadPro-Semibold.woff2') format('woff2'), url('MyriadPro-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol,
hr,
form,
menu,
header,
footer {
  padding: 0;
  margin: 0;
  border: none;
  font-weight: normal;
}
body {
  background: #3e3e3e;
  font-family: 'Myriad', sans-serif;
  font-size: 14px;
  color: #ffffff;
  line-height: 1.4em;
  font-weight: 400;
  overflow: hidden;
}
header {
  height: 133px;
  position: relative;
}
header .time {
  font-size: 90px;
  position: absolute;
  right: 100px;
  top: 20px;
  line-height: 1em;
}
header .animation {
  background: #ddde3a;
  height: 8px;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  transition: all 0s linear;
}
header .animation.animation-start {
  width: 100%;
  transition: all 5s linear;
}
.main {
  display: flex;
  height: 2027px;
}
.left {
  flex: 0 0 1152px;
}
.left .ad {
  background-size: cover;
  height: 540px;
  position: relative;
}
.left .ad.ad1 {
  height: 947px;
}
.left .ad:before {
  position: absolute;
  left: 0;
  bottom: -1px;
  right: 0;
  top: 0;
  display: block;
  content: "";
  background: url('../images/stin_akce.png') left bottom repeat-x;
}
.left .ad .date {
  font-family: Oswald, sans-serif;
  font-size: 40px;
  font-weight: 500;
  background: #2d2d2d;
  line-height: 1em;
  padding: 41px 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 154px;
  text-align: center;
}
.left .ad .text {
  position: absolute;
  bottom: 72px;
  left: 20px;
  right: 20px;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.69);
}
.left .ad h2 {
  font-size: 52px;
  font-family: Oswald, sans-serif;
  font-weight: 500;
  line-height: 1.15em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.left .ad p {
  font-size: 34px;
  font-family: Oswald, sans-serif;
  font-weight: 500;
  line-height: 1.2em;
  text-align: center;
}
.right {
  flex: 0 0 2688px;
  position: relative;
}
.right .right-header {
  height: 132px;
  border-bottom: solid 4px #575859;
  display: flex;
}
.right .right-header .day {
  background: #2d2d2d;
  flex: 0 0 384px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}
.right .right-header .day:nth-child(2n) {
  background: #1f1f1f;
}
.right .right-header .day .name {
  font-size: 40px;
  line-height: 1.2em;
}
.right .right-header .day .date {
  font-size: 32px;
  font-family: MyriadLight, sans-serif;
  line-height: 1em;
}
.right .right-header .day.day-current {
  background: #ddde3a;
  color: #000000;
}
.right .right-footer {
  height: 120px;
  border-top: solid 1px #575859;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  background: #3e3e3e;
  transition: all 0.3s linear;
}
.right .right-footer .types {
  flex: 0 0 1536px;
  display: flex;
}
.right .right-footer .types .type {
  flex: 1 1 auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
  font-family: Poppins, sans-serif;
  line-height: 120px;
  border-right: solid 1px #575859;
}
.right .right-footer .types .type.type-silove-lekce {
  color: #00eeb0;
}
.right .right-footer .types .type.type-body-mind {
  color: #ddde3a;
}
.right .right-footer .types .type.type-cycling {
  color: #5ffa00;
}
.right .right-footer .types .type.type-bazen {
  color: #1fd2fd;
}
.right .right-footer .types .type.type-tance {
  color: #e753a7;
}
.right .right-footer .types .type.type-akce {
  color: #b77bff;
}
.right .right-footer .levels {
  flex: 1 1 auto;
  display: flex;
}
.right .right-footer .levels .level {
  flex: 0 0 33.33%;
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
  font-family: Poppins, sans-serif;
  line-height: 120px;
  border-right: solid 1px #575859;
}
.right .right-footer .levels .level:last-child {
  border-right: none;
}
.right .right-footer .levels .level:before {
  display: inline-block;
  background: url('../images/obtiznost_legenda.svg');
  height: 23px;
  width: 25px;
  margin-right: 10px;
  content: "";
}
.right .right-footer .levels .level.level-2:before {
  width: 50px;
}
.right .right-footer .levels .level.level-3:before {
  width: 75px;
}
.right .right-center {
  position: absolute;
  top: 136px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.right .right-center .container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 120px;
  transition: all 1s linear;
  max-height: 2040px;
}
.right .right-center .row {
  display: flex;
  border-bottom: solid 4px #575859;
}
.right .right-center .row .day {
  flex: 0 0 384px;
  height: 251px;
  background: #2d2d2d;
  position: relative;
  display: flex;
}
.right .right-center .row .day:nth-child(2n) {
  background: #1f1f1f;
}
.right .right-center .row .day.day-level-1:before,
.right .right-center .row .day.day-level-2:before,
.right .right-center .row .day.day-level-3:before {
  position: absolute;
  bottom: 30px;
  left: 30px;
  height: 23px;
  width: 25px;
  content: "";
  display: block;
}
.right .right-center .row .day.day-level-2:before {
  width: 50px;
}
.right .right-center .row .day.day-level-3:before {
  width: 75px;
}
.right .right-center .row .day.day-type-silove-lekce {
  color: #00eeb0;
}
.right .right-center .row .day.day-type-silove-lekce:before {
  background-image: url('../images/obtiznost_silove.svg');
}
.right .right-center .row .day.day-type-body-mind {
  color: #ddde3a;
}
.right .right-center .row .day.day-type-body-mind:before {
  background-image: url('../images/obtiznost_body.svg');
}
.right .right-center .row .day.day-type-cycling {
  color: #5ffa00;
}
.right .right-center .row .day.day-type-cycling:before {
  background-image: url('../images/obtiznost_cycling.svg');
}
.right .right-center .row .day.day-type-bazen {
  color: #1fd2fd;
}
.right .right-center .row .day.day-type-bazen:before {
  background-image: url('../images/obtiznost_bazen.svg');
}
.right .right-center .row .day.day-type-tance {
  color: #e753a7;
}
.right .right-center .row .day.day-type-tance:before {
  background-image: url('../images/obtiznost_tanec.svg');
}
.right .right-center .row .day.day-type-akce {
  color: #b77bff;
}
.right .right-center .row .day.day-type-akce:before {
  background-image: url('../images/obtiznost_akce.svg');
}
.right .right-center .row .day.day-type-unknown:before {
  background-image: url('../images/obtiznost-canceled.svg');
}
.right .right-center .row .day.day-higlight {
  background: #243458;
}
.right .right-center .row .day.day-canceled {
  background: #5c5b5b;
  color: #ffffff;
}
.right .right-center .row .day.day-canceled:before {
  background-image: url('../images/obtiznost-canceled.svg');
}
.right .right-center .row .day.day-stand-in .person {
  color: #ffffff;
}
.right .right-center .row .day.day-stand-in .person strong {
  font-family: Myriad, sans-serif;
  font-weight: 400;
}
.right .right-center .row .day .time {
  font-size: 30px;
  left: 30px;
  top: 40px;
  line-height: 1em;
  font-family: MyriadSemibold, sans-serif;
  font-weight: 600;
  position: absolute;
}
.right .right-center .row .day .location {
  font-size: 30px;
  right: 30px;
  top: 40px;
  line-height: 1em;
  font-family: MyriadLight, sans-serif;
  font-weight: 300;
  position: absolute;
}
.right .right-center .row .day .title {
  padding: 0 0 10px;
  line-height: 1.2em;
  text-transform: uppercase;
  font-size: 30px;
  display: block;
}
.right .right-center .row .day .person {
  display: block;
  line-height: 1em;
  font-family: MyriadLight, sans-serif;
  font-weight: 300;
  font-size: 28px;
}
.right .right-center .row .day .center {
  margin: auto 30px;
}
